:root {
  --font-principal: 'Helvetica', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-principal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Removendo a regra global que anula as sombras dos headers */
/* 
header {
  box-shadow: none !important;
} 
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Força os elementos de formulário a herdarem a fonte global */
button,
input,
textarea,
select {
  font-family: inherit;
}
