# Configurações do AWS
REACT_APP_AWS_REGION=sa-east-1
REACT_APP_AWS_ACCESS_KEY_ID=your_access_key_here
REACT_APP_AWS_SECRET_ACCESS_KEY=your_secret_key_here

# Tabelas DynamoDB
REACT_APP_USERS_TABLE=metro-users
REACT_APP_PROJECTS_TABLE=metro-projects

# Bucket S3
REACT_APP_S3_BUCKET=metrosp2025maua
